In [1]:
import numpy as np, pandas as pd

In [4]:
df1 = pd.DataFrame([2,4,6], index=['a','b','c'])
df2 = pd.DataFrame([1,3,5], index=['b','c','d'])

In [6]:
df1.merge(df2, how='left', left_index=True, right_index=True)

   0_x  0_y
a    2  NaN
b    4  1.0
c    6  3.0

In [1]:
from sklearn.preprocessing import normalize

In [6]:
normalize([[2,3,4]])[0][0]

0.3713906763541037

In [4]:
a = [2,3,4]
[a]

[[2, 3, 4]]

In [7]:
from scipy import stats

In [8]:
stats.zscore([2,3,4])

array([-1.22474487,  0.        ,  1.22474487])