In [1]:
import numpy as np, pandas as pd

In [4]:
df1 = pd.DataFrame([2,4,6], index=['a','b','c'])
df2 = pd.DataFrame([1,3,5], index=['b','c','d'])

In [6]:
df1.merge(df2, how='left', left_index=True, right_index=True)

   0_x  0_y
a    2  NaN
b    4  1.0
c    6  3.0

In [1]:
from sklearn.preprocessing import normalize

In [6]:
normalize([[2,3,4]])[0][0]

0.3713906763541037

In [4]:
a = [2,3,4]
[a]

[[2, 3, 4]]

In [7]:
from scipy import stats

In [8]:
stats.zscore([2,3,4])

array([-1.22474487,  0.        ,  1.22474487])

In [2]:
_d = {'a': {'a1': 2, 'a2': 4}, 'b': {'b1': 3, 'b2': 5}}

In [7]:
list(map(lambda _target: list(_d[_target].values()), _d))

[[2, 4], [3, 5]]

In [8]:
list(map(lambda _row: _row[0], tuple()))

[]

In [5]:
set([1]).pop()

1

In [1]:
from db_handler import DBHandler
db_handler = DBHandler()

In [2]:
db_handler.sql_handler.select("scopus_videos_2014_life", "idx_paper")
_ = db_handler.execute().fetchall()

	Command set: SELECT idx_paper FROM `scopus_videos_2014_life`
	sql: SELECT idx_paper FROM `scopus_videos_2014_life`;

In [3]:
len(_)

112

In [4]:
set_dois = set([_doi[0] for _doi in _])

In [5]:
len(set_dois)

78

In [6]:
import pandas as pd
df4 = pd.read_csv("/home/hweem/git/mastersdegree/ytcrawl/customs/scopus/scopus_2014_life.csv")

In [8]:
_df_target = df4[df4["DOI"].isin(set_dois)]

In [10]:
_df_target["Cited by"].dropna()

24       69.0
358      56.0
614      43.0
767      60.0
771      48.0
        ...
7359     58.0
7575    212.0
7681     31.0
7751     76.0
7760    118.0
Name: Cited by, Length: 78, dtype: float64

In [13]:
[1,2,3][0:]

[1, 2, 3]